*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #111111;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-family: 'Dosis', sans-serif;
}

.nav-bar{
}

.nav-logo{
    width: 120px;
    margin-top: 40px;
    margin-left: 80px;
}


.list-items{
    margin-left: 700px;
    margin-top: -30px;
    font-size: 16px;
    cursor: grab;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
.list-item{
    list-style: none;
    display: inline-block;
    margin-right: 60px;
    
}

#nav-home{
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    cursor: grab;
     font-family: 'Playfair Display', serif;
     text-transform: uppercase;
}

#nav-other{
    border: none;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    cursor: grab;
     font-family: 'Playfair Display', serif;
     text-transform: uppercase;
}

#nav-other:hover, .list-item:hover, #nav-home:hover{
    color: #b1b1b1;
}
/* Section 1 */
.sec-one{
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.sec-one-left{
    margin-left: 20px;
    margin-right: 100px;
}

.designer-pic{
    width: 500px;
}


.intro-title{
    color: #C81724;
    font-size: 20px;
    margin-top: 150px;
}

.heading-one{
    margin-top: 10px;
    font-size: 60px;
}

.para-one{
    padding-right: 300px;
    color: #b1b1b1;
    margin-top: 15px;
}


.about-btn{
    margin-top: 40px;
    border: none;
    color: #ffffff;
    background-color: #C81724;
    padding: 10px 30px;
    border-radius: 3px;
    font-weight: 700;
    cursor: grab;
    box-shadow: 2px 2px 10px #3c3c3c;
    text-transform: uppercase;
}

.about-btn:hover{
    border: 2px solid #C81724;
    background-color: transparent;
}

/* Section 2 */

.sec-two{
    margin-top: 60px;
}

.sec-two-grey{
    background-color: #4d4d4d4d;
    height:750px;
    width: 750px;
}

.top-cards{
    margin-top: -680px;
    display: flex;
    justify-content: space-evenly;
    padding: 0% 5%;

}

.car-items{
    height: 300px;
    width: 300px;
    padding-left: 20px;
    padding-top: 70px;
    background-color: #292929;
    box-shadow: 1px 1px 10px #454545;
    border-radius: 5px;
}

.red-card-items{
    background-color: #C81724;
}

.pad-pen{
    width: 50px;
}
.scale-icon{
    width: 55px;
}

.list-icon{
    width: 40px;
}

.card-title{
    margin-top: 20px;
}

.card-desc{
    margin-top: 10px;
}

.know-more{
    margin-top: 10px;
    cursor: grab;
    text-transform: uppercase;
}

.arrow-img{
    width: 20px;
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: -18px;
    cursor: grabbing;
}

.bottom-cards{
    margin-top: 80px;
    margin-left:200px ;
}


.rect-l-title{
    font-size: 140px;
    color: #C81724;
    margin-left: 80px;
    margin-top: -10px;
    text-shadow: #9f9f9f 1px 0 4px;

}

.rect-l-para{
    margin-left: 10px;
    font-size: 30px;
    text-transform: uppercase;
}
.right-b-cards{
    margin-top: -200px;
    margin-left: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-right: 20px;
    margin-bottom: 40px; */
    padding-bottom: 40px;
}

.clien-para{
    margin-left: -20px;
}
.rect-cards{
    margin-right: 20px;
    margin-bottom: 25px;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #232323;
    box-shadow: 1px 1px 10px #454545;
}

.rect-card-title{
    font-size: 50px;
    color: #C81724;
}

.rect-card-para{

}

.right-most-card{
    margin-right: 290px;
}

/* section 3 */
.sec-three{
    margin-top: 60px;
}

.three-top{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.three-desp{
    margin-left: 60px;
}


.three-top-title{
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.three-para{
    font-size: 16px;
    margin-left: 100px;
}


.three-btn{
    margin-right: 60px;
    padding: 8px 20px;
    background-color: #C81724;
    border: none;
    color:#ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #3c3c3c;
    text-transform: uppercase;
    font-weight: bold;
    cursor: grabbing;
}


.three-btn:hover{
    border: 2px solid #C81724;
    background-color: transparent;
}



.three-bottom{
    margin-top: 60px;
   
}

.three-card-items{
    width: 450px;
    height: 430px;
}

.top-first-card{
    margin-left: 300px;
}
.three-second-card{
    margin-left: 780px;
   position: relative;
   bottom: 430px;
}
.three-third-card{
    margin-left: 300px;
    margin-top: -400px;

}
.three-fourth-card{
    margin-left: 780px;
    margin-top: -430px;
}
.img-bg{
    background-color: #292929;
    padding:40px 20px;
}
.three-arrow{
    width: 20px;
    margin-left: 95px;
    margin-bottom: 100px;
    margin-top: -18px;
    cursor: grabbing;
}


.card-img{
   width: 400px;
    height: 230px;
}

.card-three-title{
    font-size: 22px;
    margin-top: 20px;
    margin-left: 10px;
}

.card-three-para{
    text-transform: uppercase;
    color: #C81724;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
    cursor:grab
}

.card-three-para:hover{
    color: #ffffff;
}

/* fourth section */
.sec-four{
    margin-top: 100px;
    margin-left: 300px;
    width: 940px;
    height: 240px;
    background-color: #292929;
    position: relative;
}

.title-four{
    font-size: 40px;
    position: absolute;
    left: 40px;
    top: 40px;
}

.descp-four{
    font-size: 14px;
    position: absolute;
    top: 160px;
    left: 40px;
    
}

.contact-four{
    position: absolute;
    left: 700px;
    top: 100px;
    margin-right: 60px;
    padding: 8px 20px;
    background-color: #C81724;
    border: none;
    color:#ffffff;
    border-radius: 4px;
    box-shadow: 2px 2px 10px #3c3c3c;
    text-transform: uppercase;
    font-weight: bold;
    cursor: grabbing;
}

.contact-four:hover{
    border: 2px solid #C81724;
    background-color: transparent;
}

/* footer section */
.footer-sect{
    margin-top: 100px;
    padding-bottom: 60px;
    background-color: #292929;
    padding-top: 20px;
}

.top-footer{
    text-align: center;
}

.footer-title{
    font-size: 14px;
    display: inline;
    margin-right: 40px;
    cursor: grab;
}
.footer-title:hover{
    color: #b1b1b1;
}
.bottom-footer{
    margin-top: 20px;
}

.footer-logo{
    width: 100px;
    margin-left: 300px;
}

.social-icons{
    margin-bottom: 10px;
    width: 20px;
    margin-right: 20px;
    cursor: grab;
}
.fb-icon{
    width:10px;
}
.connect-icons{
    display: inline;
    margin-left: 300px;
}
.line-break{
    margin-top: 20px;
   
}
.ham-menu{
    display: none;
}

/* *******************************************
*******************************************
******Mobile & Tablet Responsiveness ******
*******************************************
******************************************* */

@media screen and (max-width:425px) {

    .nav-bar{
        width: 100vw;
        margin: auto;
    }
    .nav-logo{
        width: 150px;
    }
    .right-part{
        display: none;
    }
    .ham-menu{
        display: inline;
        margin-left: 1100px;
        
    }
    .ham-lines{
        width: 40px;
        position: relative;
        top: -50px;
    }
    .sec-one{
        width: 100vw;
        margin: auto;
        display: grid;
    }
    .designer-pic{
        margin-left: 500px;
    }
    .intro-title{
        font-size: 80px;
        margin-left: 520px;
    }
    .heading-one{
        font-size: 60px;
        margin-left: 580px;
    }
    .para-one{
        font-size: 20px;
        margin-left: 520px;
        white-space: pre-wrap;
        padding: 40px 0px;
    }
    .about-btn{
        margin-left: 680px;
        font-size: 30px;
    }
    .sec-one-right{
    }
    .sec-one-left{

    }

    .sec-two{
        width: 100vw; 
    }
    .sec-two-grey{
        width: 30vw;
    }
    .top-cards{
        display: grid;
        margin-left: 400px;
    }
    .car-items{
        margin-bottom: 50px;
        width: 300px;
        height: 500px;
    }
    .card-title{
        font-size: 50px;
    }
    .card-desc{
        font-size: 30px;
    }
    .know-more{
        font-size: 20px;
    }
    .arrow-img{
        
    }
    .bottom-cards{
        display: grid;
        grid-template-rows: 1fr 1fr;
    }
    .right-b-cards{
        position: relative;
        top: 100px;
        left: -780px;
    }
    .rect-cards{
        margin-left: 370px;
    }
    .sec-three{
    }
    .three-top{
        display: flex;
        flex-direction: column;
        margin-left: 260px;
    }
    .three-desp{
    }
    .three-top-title{
        font-size: 70px;
        white-space: nowrap;
    }
    .three-para{
        font-size: 40px;
        margin-left: -40px;
        margin: 40px 0px;
    }
    .three-btn{
        font-size: 30px;
        white-space: nowrap;
        margin-left: 40px;
    }
    .three-bottom{
        position: relative;
    }

    .three-card-items{
        position: relative;
    }
    .top-first-card{
        position: relative;
        left: -180px;
    }
    .three-second-card{
        position: relative;
        left: -260px;
        top: 1000px;
        left: -680px;
    }
    .three-third-card{
        position: relative;
        left: -180px;
    }
    .three-fourth-card{
        position: relative;
        left: -660px;
        top: 500px;
    }

    .sec-four{
        margin-left: -1px;
        margin-top: 1100px;
    }
    .footer-sect{
        width: 1000px;
    }
}

@media screen and (max-width:768px) {

   .nav-bar{
    width: 100vw;
   } 
   .left-part{
    width: 100px;
   }
   .nav-logo{
    margin-left: 20px;
   }
   
   .list-item{
    margin-right: 5px;
    position: relative;
    top: -30px;
    left: 330px;
   }
   .list-items{
    display: inline;
    margin: 0px 0px;
   }
   .sec-one{
   
   }
   .sec-one-left{
    margin-left: 20px;
   }
   .designer-pic{
    width: 500px;
    height: 1000px;
   }
   .sec-one-right{
    margin-left: -140px;
   }
   .intro-title{
    font-size: 40px;
   }
   .heading-one{

   }
   .para-one{
    font-size: 25px;
    padding:30px 0px;
   }
   .about-btn{
    font-size: 20px;
   }
   .sec-two{
    width: 100vw;
   }
   .sec-two-grey{
    width: 43vw;
    
   }
   .car-items{
    margin: 0 10px;
   }
   .rect-l-title{
    font-size: 100px;
    margin-left: -125px;
   }
   .rect-l-para{
    font-size: 20px;
    margin-left: -170px;
   }
   .right-b-cards{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    position: relative;
    left: -350px;
   }
   .rect-cards{
    width: 220px;
   }


   .three-desp{
    margin-left: -60px;
    margin-top: 40px;
    margin-bottom: 40px;
   }
   .three-top-title{
    padding: 20px 0px;
    font-size: 40px;
    padding-left: 20px;
   }    
   .three-para{
    font-size: 17px;
    margin-right: 40px;
    white-space: nowrap;
   }
   .three-btn{
    white-space: nowrap;
    font-size: 20px;
    margin-left: 60px;
   }
   .top-first-card{
    margin: 0;
    position: relative;
    top: 430px;
    margin-left: 160px;
   }
   .three-second-card{
    margin: 0;
    margin-left: 160px;
   }
   .three-third-card{
    margin: 0;
    margin-left: 160px;
   }
   .three-fourth-card{
    margin: 0;
    margin-left: 160px;
   }
   .three-bottom{
    display: grid;
   }
   .sec-four{
    width: 100vw;
    position: relative;
    right: 300px;
   }
   .contact-four{
    margin-left: -100px;
   }
  .line-break{

  }
  .footer-logo{
   display: none;
  }
}